<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433595341623-qcmh7i4n70rlgjj26mnde8dt9ibd5q0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433595341623-qcmh7i4n70rlgjj26mnde8dt9ibd5q0q</string>
	<key>API_KEY</key>
	<string>AIzaSyBdYXzqogJfVyHk8mtGnag-wEsDOvSwzkI</string>
	<key>GCM_SENDER_ID</key>
	<string>433595341623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.akash-ayurvedic</string>
	<key>PROJECT_ID</key>
	<string>akash-ayurvedic</string>
	<key>STORAGE_BUCKET</key>
	<string>akash-ayurvedic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433595341623:ios:21f09bebd03ccefc6858b2</string>
</dict>
</plist>